<div class="container-fluid bg-primary">
  <div class="header">
    <nav>
      <img src="../../assets/images/82b3ca5fb2301045.png" class="title">
      <span class="logo"><i>Online Shopping</i></span>
      <ul>
        <li><a routerLink="/watches"><i class="bi bi-cart"></i></a></li>
        

      </ul>
    </nav>
  </div>
</div>
<div class="col-lg-9 col-9">
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/images/22fddf3c7da4c4f4.webp" class="card-img-top">
      <div class="card-body">
       <h6> <a routerLink="/mobiles">Mobiles</a></h6>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../assets/images/c12afc017e6f24cb.webp" class="card-img-top" height="10" >
      <div class="card-body">
        <h6><a routerLink="/fashion">Fashion</a></h6>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
     <img src="../../../assets/images/69c6589653afdb9a.webp" class="card-img-top" >
      <div class="card-body">
        <h6><a routerLink="/elactronics">Elactronics</a></h6>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
       <img src="../../../assets/images/ab7e2b022a4587dd.webp" class="card-img-top" >
      <div class="card-body">
        <h6><a routerLink="/home">Home</a></h6>
      </div>
    </div>
     
    
  </div>
</div>