body {

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    background-image: url(../../assets/images/images.png);
    background-size: cover;
    background-repeat:no-repeat;
}

.heading {
    padding-top: 15px;
    font-size: 25px;
}

.content {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 2% 2%;
    margin-top: 50px;
}

h3 {
    color: black;
}

button {
    background-color:lightskyblue;
    color: black;
    padding: 10px;
    margin-left: 120px;
    font-size: 15px;

}