<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productlist">
            <div class="card col-3">
                <img src="{{item.image}}">
                <p style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; max-width: 100ch;">
                    {{item.description}}</p>
                <p><strong>Price:</strong> ${{item.Price}}</p>
                <button class="btn btn">Add To Cart</button>
            </div>
        </ng-container>

    </div>

</div>