.card-top{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    }
    .item img{
        width:64px;
    }
    .item{
        margin: 0px 15px;
        text-align:center ;   
    }
    .item a :hover{
        color: blue;
    }
    h5{
        font-size: small;
    }
    .card img{
        width: 200px;
        height: 200px;
        margin-bottom: 15px;
        transition: 0.3s ease-in-out;
    
    }
    .card{
        padding: 20px;
        margin: 40px;
    }
    .card img:hover{
        transition: 0.3S;
        transform: scale(1.1);
    }
    .btn{
     background-color: #01579B; 
     color: #fff;       
    }